﻿@model MVCBase.CasiAccidente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <br />
        @Html.ValidationSummary(true)

        <section id="widget-grid" class="">
				
	<!-- row -->
    <div class="row">
				
	    <!-- NEW WIDGET START -->
	    <article class="col-sm-12">

		    <!-- Widget ID (each widget will need unique ID)-->
		    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
			    <!-- widget options:
			    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
			    data-widget-colorbutton="false"
			    data-widget-editbutton="false"
			    data-widget-togglebutton="false"
			    data-widget-deletebutton="false"
			    data-widget-fullscreenbutton="false"
			    data-widget-custombutton="false"
			    data-widget-collapsed="true"
			    data-widget-sortable="false"
				
			    -->
			    <header>
				    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
				    <h2>Casi Accidentes </h2>
				
			    </header>
				
			    <!-- widget div-->
			    <div>
				
				    <!-- widget edit box -->
				    <div class="jarviswidget-editbox">
					    <!-- This area used as dropdown edit box -->
				
				    </div>
				    <!-- end widget edit box -->
				
				    <!-- widget content -->
				    <div class="widget-body no-padding">
                        <br />
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.titulo, "Titulo", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.titulo, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.titulo)
                            </div>
                        </div>

                @*        <div class="form-group">
                            @Html.LabelFor(model => model.fechaHora, new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.fechaHora)
                                @Html.ValidationMessageFor(model => model.fechaHora)
                            </div>
                        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.lugar, "Lugar", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownList("lugar", null, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.lugar)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.actoInseguro, "Acto Inseguro", new { @class = "control-label col-md-2" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.actoInseguro, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.actoInseguro)
                            </div>
                            @Html.LabelFor(model => model.equipoInseguro, "Equipo Inseguro", new { @class = "control-label col-md-1" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.equipoInseguro, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.equipoInseguro)
                            </div>
                            @Html.LabelFor(model => model.condicionInsegura, "Condicion Insegura", new { @class = "control-label col-md-1" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.condicionInsegura, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.condicionInsegura)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.usoInseguroEquipo, "Uso Inseguro Equipo", new { @class = "control-label col-md-2" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.usoInseguroEquipo, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.usoInseguroEquipo)
                            </div>
                            @Html.LabelFor(model => model.otro, "Otro", new { @class = "control-label col-md-1" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.otro, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.otro)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descripcionPeligro, "Descripcion Peligro", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.descripcionPeligro, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.descripcionPeligro)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.descripcionCondicion, "Descripcion Condicion", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.descripcionCondicion, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.descripcionCondicion)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.analisis, "Analisis", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.analisis, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.analisis)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.medidasCorrectivas, "Medidas Correctivas", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextAreaFor(model => model.medidasCorrectivas, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.medidasCorrectivas)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.personalApoyo, "Personal de Apoyo", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.personalApoyo, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.personalApoyo)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.reponsobleEHS, "Responsable EHS", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownList("reponsobleEHS", null, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.reponsobleEHS)
                            </div>
                        </div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
        
    </div>
<div style="padding-bottom:15px">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-sm" })
    <input type="submit" value="Create" class="btn btn-info btn-sm" />        
</div>

}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}