﻿@model MVCBase.CasiAccidente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CasiAccidente</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actoInseguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actoInseguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equipoInseguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipoInseguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condicionInsegura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicionInsegura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usoInseguroEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usoInseguroEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionPeligro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionPeligro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionCondicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionCondicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.analisis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.analisis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medidasCorrectivas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medidasCorrectivas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personalApoyo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personalApoyo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCierre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCierre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCerro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCerro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representante.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representante.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCasiIncidente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
