﻿@model IEnumerable<MVCBase.CasiAccidente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-sm" })
</p>

<section id="widget-grid" class="">
				
	<!-- row -->
	<div class="row">
				
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"
				
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Casi Accidentes </h2>
				
				</header>
				
				<!-- widget div-->
				<div>
				
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
				
					</div>
					<!-- end widget edit box -->
				
					<!-- widget content -->
					<div class="widget-body no-padding">
				
						<table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
					
							<thead>
								<tr>									
									<th class="hasinput" style="width:10%">
										<input class="form-control" placeholder="Titulo" type="text">		
									</th>
									<th class="hasinput icon-addon" style="width:95%">
                                        <input id="date_filter" type="text" placeholder="Fecha" class="form-control datepicker" data-dateformat="dd/mm/yy">
										<label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
									</th>
									<th class="hasinput" style="width:12%">
										<input type="text" class="form-control" placeholder="Lugar" />
									</th>
									<th class="hasinput" style="width:10%">
										<input type="text" class="form-control" placeholder="Personal de Apoyo" />
									</th>
									<th class="hasinput" style="width:10%">
										<input type="text" class="form-control" placeholder="Responsable por EHS" />
									</th>
                                    <th class="hasinput icon-addon" style="width:95%">
                                        <input id="dateselect_filter" type="text" placeholder="Fecha Cierre" class="form-control datepicker" data-dateformat="dd/mm/yy">
										<label for="datecerro_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
									</th>
                                    <th class="hasinput" style="width:30%"></th>
								</tr>
								<tr>
								    <th data-class="expand">Titulo</th>
								    <th data-hide="phone">FechaHora</th>
								    <th data-hide="phone">Lugar</th> 
								    <th data-hide="phone">Personal de Apoyo</th>
								    <th data-hide="phone,tablet">Responsable por EHS</th>
								    <th data-hide="phone,tablet">Fecha de Cierre</th>
                                    <th data-hide="phone,tablet"></th>
								</tr>
							</thead>
				
							<tbody>
							                    
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.titulo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.fechaHora)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Lugar1.descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.personalApoyo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Representante.nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.fechaCierre)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.idCasiIncidente }, new { @class = "btn btn-info btn-sm" })
                                            @Html.ActionLink("Details", "Details", new { id = item.idCasiIncidente }, new { @class = "btn btn-info btn-sm", target="_blank" })
                                            @*@Html.ActionLink("Adjunto", "Details", new { id = item.idInspeccion }, new { @class = "btn btn-info btn-sm" })*@
                                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="$('#hiddenId').val('@item.idCasiIncidente'); 
                                                                                                                                    $('#popTitulo').text('@item.titulo');
                                                                                                                                    $('#popFecha').text('@item.fechaHora');
                                                                                                                                    $('#popLugar').text('@item.lugar');
                                                                                                                                    $('#popPersonal').text('@item.personalApoyo');
                                                                                                                                    $('#popRepresentante').text('@item.Representante.nombre');">Adjunto</button>
                                            <button class="btn btn-info btn-sm" id="btnSelectAdjuntos" onclick="$('#hiddenId').val('@item.idCasiIncidente'); modalClick('PartialAdjuntos', 'Adjuntos');">Ver Adjuntos</button>
                                            @* @Html.ActionLink("Delete", "Delete", new { id=item.idInspeccion })*@
                                        </td>
                                    </tr>
                                }
							</tbody>
									
						</table>
				
					</div>
					<!-- end widget content -->
				
				</div>
				<!-- end widget div -->
				
			</div>
			<!-- end widget -->		

            </article>									
				
	</div>
				
	<!-- end row -->
				
	<!-- end row -->
				
</section>

<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                using (Html.BeginForm("Adjunto", "CasiAccidente", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAdjunto"}))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            x
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Adjuntos</h4>
                    </div>
                    <div class="modal-body">       
                        <input type="hidden" id="hiddenId" name="hiddenId"/>

                        <div class="row">
                            <label class="control-label col-md-4"><strong>Titulo</strong></label>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="popTitulo" style="font-style:italic"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-4"><strong>Fecha</strong></label>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label id="popFecha" style="font-style:italic"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-4"><strong>Lugar</strong></label>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label id="popLugar" style="font-style:italic"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-4"><strong>Personal de Apoyo</strong></label>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label id="popPersonal" style="font-style:italic"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="control-label col-md-4"><strong>Representante</strong></label>
                            <div class="col-md-4">
                                <div class="form-group">
                                        <label id="popRepresentante" style="font-style:italic"></label>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="row">                                         
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="comment" name="comment" class="form-control", placeholder="Comentario"></textarea>
                                    @*@Html.TextArea("Commentario", new { id = "comment", name = "comment", @class = "form-control", placeholder="Comentario"})*@
                                </div>
                            </div>
                        </div>
                                            
                        <hr />

                        <section>
                                                                                                            
                            <div class="input input-file">
                                <span class="button"><input type="file" id="file" name="file"></span>@*<input type="text" placeholder="Seleccione un archivo" readonly="">*@
                            </div>
                                                    
                        </section> 
                                                    
                    </div>                                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cerrar
                        </button>
                        <input type="submit" class="btn btn-default" title="Subir Adjunto"/>  @*data-dismiss="modal"*@                                              
                    </div> 
                }   
            }                                
        </div>
    </div>
</div>  

<div id="selectModal" title="" style="overflow:hidden;background-color:white;border-bottom-width:5px;background-color:white">
</div>

<script>
    function postForm() {
        var mClient = new XMLHttpRequest();
        var mData = new FormData();
        //mData.append("idInspeccion", 1);
        //mData.append("comment", document.getElementById("comment").textContent);                
        //mData.append("file", document.getElementById("file").files[0]);
        mClient.open("POST", "@Url.Action("Adjunto")", false);
        //mClient.setRequestHeader("Content-Type", "application/json");
        //mClient.setRequestHeader("Content-Type", "multipart/form-data");
        mData = $("#formAdjunto").serialize();                
        mClient.send(mData);
@*        $.ajax({
            url: "@Url.Action("Adjunto")",
            type: "POST",
            async: false,
            contentType: "application/json",
            dataType: "json",
            data: mData,
            error: customError(xhr, status, error)
            //{
            //    idInspeccion: 1,
            //    comment: document.getElementById("comment").textContent,
            //    file: document.getElementById("file").value
            //}
        });*@
    }
    function customError(xhr, status, error) {
        var err = xhr;
    }

    function modalClick(partialName, title) {                
        var url = '/CasiAccidente/xxx'.replace("xxx", partialName);
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url + "/" + $("#hiddenId").val(), false);
        xhr.send();
        var text = '';
        if (title == '')    text = xhr.responseText.replace("name=\"idInspeccion\" value=\"\"", "name=\"idInspeccion\" value=\"" + $("#hiddenId").val() + "\"");
        else                text = xhr.responseText;
        document.getElementById("selectModal").innerHTML = text;
        //$("#selectModal").load(url, { id: $("#hiddenId").val() });
        InitPopup($("#selectModal"), title);
        $("#selectModal").dialog("open");
        $("#selectModal").dialog('widget').position({
            my: "center", at: "center", of: "window"
        });
    }

    function modalPdf(id) {
        var url = '/Inspeccion/NoConfReport/' + id; 
        document.getElementById("pdf").src = url;
        setTimeout(function () { }, 2000);
        document.pdf.contentDocument.focus();
        document.pdf.contentDocument.print();
        //$("#selectModal").load(url, { id: $("#hiddenId").val() });
    }

    function InitPopup($element, title) {
        $element.dialog({
            autoOpen: false,
            width: "auto",
            height: "auto",
            resizable: true,
            draggable: true,
            title: title,
            modal: true,
            my: "center",
            at: "center",
            of: "window",
            show: 'slide',
            closeText: 'X',
            dialogClass: 'alert',
            closeOnEscape: true,
            open: function (event, ui) {
                $(".ui-widget-overlay").click(function () {
                    $("#selectModal").dialog("close");
                });
                @*var url = '@Url.Action("PartialAdjuntos")';
                $element.load(url, { id: $("#hiddenId").val() });*@
            },

            close: function () {
                $(this).dialog('close');
            }
        });
    }


    $(document).ready(function() {
                                
    })

</script>

<!-- SPARKLINES -->
<script src="~/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- POSITION -->
<script src="~/js/libs/jquery.ui.position.js"></script>

<!-- JQUERY VALIDATE -->
<script src="~/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="~/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="~/js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="~/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="~/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="~/js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- Demo purpose only -->
@*<script src="~/js/demo.min.js"></script>*@

<!-- MAIN APP JS FILE -->
@*<script src="~/js/app.min.js"></script>*@

<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->
@*<script src="~/js/speech/voicecommand.min.js"></script>*@

<!-- PAGE RELATED PLUGIN(S) -->
<script src="~/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="~/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="~/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="~/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!

	$(document).ready(function () {

		pageSetUp();

		/* // DOM Position key index //
            
        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing 
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class
                
        Also see: http://legacy.datatables.net/usage/features
        */

		var responsiveHelper_datatable_fixed_column = undefined;

		var breakpointDefinition = {
		    tablet: 1024,
		    phone: 480
		};

		/* COLUMN FILTER  */
		var otable = $('#datatable_fixed_column').DataTable({
		    //"bFilter": false,
		    //"bInfo": false,
		    //"bLengthChange": false
		    //"bAutoWidth": false,
		    //"bPaginate": false,
		    //"bStateSave": true // saves sort state using localStorage
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_datatable_fixed_column) {
		            responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_datatable_fixed_column.respond();
		    }

		});

		// custom toolbar
		//$("div.toolbar").html('<div class="text-right"><img src="~/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

		// Apply the filter
		$("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

		    otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();

		});
		/* END COLUMN FILTER */


		/* TABLETOOLS */
		$('#datatable_tabletools').dataTable({

		    // Tabletools options: 
		    //   https://datatables.net/extensions/tabletools/button_options
		    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
		    "oTableTools": {
		        "aButtons": [
                "copy",
                "csv",
                "xls",
                    {
                        "sExtends": "pdf",
                        "sTitle": "SmartAdmin_PDF",
                        "sPdfMessage": "SmartAdmin PDF Export",
                        "sPdfSize": "letter"
                    },
                    {
                        "sExtends": "print",
                        "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                    }
		        ],
		        "sSwfPath": "~/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
		    },
		    "autoWidth": true,
		    "preDrawCallback": function () {
		        // Initialize the responsive datatables helper once.
		        if (!responsiveHelper_datatable_tabletools) {
		            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
		        }
		    },
		    "rowCallback": function (nRow) {
		        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
		    },
		    "drawCallback": function (oSettings) {
		        responsiveHelper_datatable_tabletools.respond();
		    }
		});

		/* END TABLETOOLS */

	})

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}