﻿@model MVCBase.IncidentesDanos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncidentesDanos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personalInformo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personalInformo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionIncidente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionIncidente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInvestigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInvestigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.analisisCausa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.analisisCausa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representante.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representante.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representante1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representante1.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

