﻿@model MVCBase.IncidentesDanos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.idDano)
    @Html.HiddenFor(model => model.fechaHora)
    <div id="danosForm" class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="jarviswidget" id="wid-id-17" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	        <header>
		        <h2>Informacion General </h2>
	        </header>
	            <div>            
		            <div class="widget-body">   

                        <div class="form-group">
                            @Html.LabelFor(model => model.titulo, "Titulo", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.titulo, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.titulo)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ubicacion, "Ubicacion", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownList("ubicacion", null, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.ubicacion)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.responsableArea, "Responsable Area", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownList("responsableArea", null, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.responsableArea)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.personalInformo, "Personal Informo", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.personalInformo, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.personalInformo)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.investigadoPor, "Investigado por", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownList("investigadoPor", null, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.investigadoPor)
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label for="fechaInvestigo", class="control-label col-md-2">Fecha Investigacion</label>
                            <div class="col-md-6">
                                <input type="text" class="date form-control input-sm" name="fechaInvestigo" value="@Model.fechaInvestigo" required />
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
    </div>
    
    <div class="jarviswidget" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Entidad Involucrada(s) </h2>
	    </header>
	    <div>            
		    <div id="entidadContainer" class="widget-body" data-id="@(Model.Entidad.ToList().Count - 1)" style="padding-bottom:1%; overflow:hidden"> 
            <a class="btn btn-primary" onclick="addInfoDano($('#entidadContainer'), $('#entidad'), $('#entidadContainer'), '0')" style="cursor:pointer; margin-bottom:1%">Agregar Entidad</a>
            @{                                    
                int i = 0;
                foreach (var entidad in Model.Entidad)
                {
                    var list = (ViewBag.entidades as SelectList).ToList();
                    list.ForEach(x => x.Selected = false);
                    list.First(x => x.Value == entidad.idEntidad.ToString()).Selected = true;   
                    <input type="hidden" name="Entidad[@i].idEntidad" value="@entidad.idEntidad" />                  
				                <div class="form-group entidad" id="entidad">                                    
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="Entidad[@i].entidad">Entidad</label>                                
                                            @Html.DropDownList("Entidad[" + i + "].idEntidad", list, "-- Select One --", new { @class = "form-control input-sm", required = "required" })                                                 
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.entidad', 'deleteEntidades', '@entidad.idEntidad');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div>
                                    </div>
                                </div>
                    i++;
                }
                if (Model.Entidad.ToList().Count == 0)
                {
                    <div class="form-group entidad" id="entidad">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="Entidad[0].entidad">Entidad</label>                                
                                @Html.DropDownList("Entidad[0].idEntidad", null, "-- Select One --", new { @class = "form-control input-sm", required = "required" })                                                 
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.entidad', 'deleteEntidades', '-1');">
                                    <i class="fa fa-minus"></i></a>                                            
                            </div>
                        </div>
                    </div>
                } 
            }
            </div>
        </div>
    </div>
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Informacion del Daño </h2>
	    </header>
				
	    <!-- widget div-->
	    <div>
				
		    <!-- widget edit box -->
		    <div class="jarviswidget-editbox">
			    <!-- This area used as dropdown edit box -->
				
		    </div>
		    <!-- end widget edit box -->
				
		    <!-- widget content -->
		    <div class="widget-body">
				
			    <div class="tabs-left">
				    <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
					    <li class="active">
						    <a href="#tab-r1" data-toggle="tab"><span class="badge bg-color-blue txt-color-white"></span> Cont. </a>
					    </li>
					    <li>
						    <a href="#tab-r2" data-toggle="tab"><span class="badge bg-color-blueDark txt-color-white"></span> Buque </a>
					    </li>
					    <li>
						    <a href="#tab-r3" data-toggle="tab"><span class="badge bg-color-greenLight txt-color-white"></span> Maqui.</a>
					    </li>
                        <li>
						    <a href="#tab-r4" data-toggle="tab"><span class="badge bg-color-greenLight txt-color-white"></span> Insta.</a>
					    </li>
				    </ul>
				    <div id="tabContainer" class="tab-content" data-id="3">
					    <div class="tab-pane active" id="tab-r1" style="padding-bottom:1%; overflow:hidden">
                            <a class="btn btn-primary" onclick="addInfoDano($('#tabContainer'), $('#contenedor'), $('#tab-r1'), '0')" style="cursor:pointer; margin-bottom:1%">Agregar Contenedor</a>
                            @{                                    
                                i = 0;
                                var contenedores = Model.InfoDanos.Where(x => x.incidenteTipo == "contenedor");
                                foreach (var contenedor in contenedores)
                                {                           
                                    <input type="hidden" name="InfoDanos[@i].idInfoDano" value="@contenedor.idInfoDano" />           
						            <div class="form-group contenedor" id="contenedor" style="overflow:hidden">                                          
                                        <input type="hidden" name="InfoDanos[@i].incidenteDano" value="@contenedor.incidenteDano" />                          
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].contenedor">Contenedor</label>
                                            @Html.TextBox("InfoDanos[" + i + "].contenedor", contenedor.contenedor, new { @class = "form-control input-sm", @onkeydown = "onTabPressedUnits($(this).val(), 'InfoDanos_" + i + "__informacion', event);" })
                                        </div>                            
                                        <div class="col-md-4">
                                            <label for="InfoDanos[@i].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[" + i + "].informacion", contenedor.informacion, new { @class = "form-control input-sm", @readonly = "readonly" })
                                        </div>  
                                        <div class="col-md-4">
                                            <label for="InfoDanos[@i].dano">Descripcion del Daño</label>
                                            @Html.TextArea("InfoDanos[" + i + "].dano", contenedor.dano, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.contenedor', 'deleteInfoDano', '@contenedor.idInfoDano');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div>  
                                        <input type="hidden" name="InfoDanos[@i].incidenteTipo" value="contenedor"/> 
                                        <hr />              
                                    </div>
                                    i++;
                                }
                                if (contenedores.ToList().Count == 0)
                                { 
                                    <div class="form-group contenedor" id="contenedor" style="overflow:hidden"> 
                                        <input type="hidden" name="InfoDanos[0].incidenteDano" value="@Model.idDano" />                           
                                        <div class="col-md-3">
                                            <label for="InfoDanos[0].contenedor">Contenedor</label>
                                            @Html.TextBox("InfoDanos[0].contenedor", null, new { @class = "form-control input-sm", @onkeydown = "onTabPressedUnits($(this).val(), 'InfoDanos_0__informacion', event);" })
                                        </div>                            
                                        <div class="col-md-8">
                                            <label for="InfoDanos[0].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[0].informacion", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                        </div>  
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.contenedor', 'deleteInfoDano', '-1');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div>  
                                        <input type="hidden" name="InfoDanos[0].incidenteTipo" value="contenedor"/> 
                                        <hr />              
                                    </div>
                                }
                            }                   
					    </div>
					    <div class="tab-pane" id="tab-r2" style="padding-bottom:1%; overflow:hidden">
						    <a class="btn btn-primary" onclick="addInfoDano($('#tabContainer'), $('#buque'), $('#tab-r2'), '1')" style="cursor:pointer; margin-bottom:1%">Agregar Buque</a>
                            @{                                    
                                i = 0;
                                var buques = Model.InfoDanos.Where(x => x.incidenteTipo == "buque");
                                foreach (var buque in buques)
                                {
                                    var list = (ViewBag.buques as SelectList).ToList();
                                    list.ForEach(x => x.Selected = false);
                                    list.First(x => x.Value == buque.buque).Selected = true; 
                                    <input type="hidden" name="InfoDanos[@i].idInfoDano" value="@buque.idInfoDano" />                                   
						            <div class="form-group buque" id="buque" style="overflow:hidden">                                        
                                        <input type="hidden" name="InfoDanos[@i].incidenteDano" value="@buque.incidenteDano" />
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].buque">Buque</label>
                                            @Html.DropDownList("InfoDanos[" + i + "].buque", list, "-- Select One --", new { @class = "form-control input-sm", onchange = "getVesselInfo($(this).val(), 'InfoDanos_" + i + "__informacion', 'InfoDanos_" + i + "__viaje')" })
                                        </div>                            
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[" + i + "].informacion", buque.informacion, new { @class = "form-control input-sm", @readonly = "readonly" })
                                        </div>    
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].dano">Descripcion del Daño</label>
                                            @Html.TextArea("InfoDanos[" + i + "].dano", buque.dano, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-2">
                                            <label for="InfoDanos[@i].viaje">Viaje</label>
                                            @Html.TextArea("InfoDanos[" + i + "].viaje", buque.viaje, new { @class = "form-control input-sm", @readonly="readonly" })
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.buque', 'deleteInfoDano', '@buque.idInfoDano');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div>     
                                        <input type="hidden" name="InfoDanos[@i].incidenteTipo" value="buque"/>  
                                        <hr />                 
                                    </div>
                                    i++;
                                }
                                if (buques.ToList().Count == 0)
                                {
                                    <div class="form-group buque" id="buque" style="overflow:hidden">
                                        <input type="hidden" name="InfoDanos[1].incidenteDano" value="@Model.idDano" />
                                        <div class="col-md-3">
                                            <label for="InfoDanos[1].buque">Buque</label>
                                            @Html.DropDownList("InfoDanos[1].buque", (ViewBag.buques as SelectList), "-- Select One --", new { @class = "form-control input-sm", onchange = "getVesselInfo($(this).val(), 'InfoDanos_1__informacion', 'InfoDanos_1__viaje')" })
                                        </div>                            
                                        <div class="col-md-3">
                                            <label for="InfoDanos[1].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[1].informacion", null, new { @class = "form-control input-sm", @readonly = "readonly" })
                                        </div>    
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].dano">Descripcion del Daño</label>
                                            @Html.TextArea("InfoDanos[" + i + "].dano", null, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-2">
                                            <label for="InfoDanos[@i].viaje">Viaje</label>
                                            @Html.TextArea("InfoDanos[" + i + "].viaje", null, new { @class = "form-control input-sm", @readonly="readonly" })
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.buque', 'deleteInfoDano', '-1');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div>     
                                        <input type="hidden" name="InfoDanos[1].incidenteTipo" value="buque"/>  
                                        <hr />                 
                                    </div>
                                }
                            }
					    </div>
					    <div class="tab-pane" id="tab-r3" style="padding-bottom:1%; overflow:hidden">
						    <a class="btn btn-primary" onclick="addInfoDano($('#tabContainer'), $('#equipo'), $('#tab-r3'), '2')" style="cursor:pointer; margin-bottom:1%"> &nbsp;Agregar Equipo </a>
                            @{                                    
                                i = 0;
                                var equipos = Model.InfoDanos.Where(x => x.incidenteTipo == "equipo");
                                foreach (var equipo in equipos)
                                {                                     
                                     <input type="hidden" name="InfoDanos[@i].idInfoDano" value="@equipo.idInfoDano" />                                
						                <div class="form-group equipo" id="equipo" style="overflow:hidden">                                               
                                        <input type="hidden" name="InfoDanos[@i].incidenteDano" value="@equipo.incidenteDano" />                     
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].equipo">Equipo</label>
                                            @Html.TextArea("InfoDanos[" + i + "].equipo", equipo.equipo, new { @class = "form-control input-sm" })
                                        </div>                            
                                        <div class="col-md-4">
                                            <label for="InfoDanos[@i].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[" + i + "].informacion", equipo.informacion, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="InfoDanos[@i].dano">Descripcion del Daño</label>
                                            @Html.TextArea("InfoDanos[" + i + "].dano", equipo.dano, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.equipo', 'deleteInfoDano', '@equipo.idInfoDano');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div> 
                                        <input type="hidden" name="InfoDanos[@i].incidenteTipo" value="equipo"/>  
                                        <hr />                       
                                    </div>
                                    i++;
                                }
                                if (equipos.ToList().Count == 0)
                                {
                                    <div class="form-group equipo" id="equipo" style="overflow:hidden">  
                                        <input type="hidden" name="InfoDanos[2].incidenteDano" value="@Model.idDano" />                          
                                        <div class="col-md-3">
                                            <label for="InfoDanos[2].equipo">Equipo</label>
                                            @Html.TextArea("InfoDanos[2].equipo", null, new { @class = "form-control input-sm" })
                                        </div>                            
                                        <div class="col-md-8">
                                            <label for="InfoDanos[2].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[2].informacion", null, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.equipo', 'deleteInfoDano', '-1');">
                                                <i class="fa fa-minus"></i></a>                                            
                                        </div> 
                                        <input type="hidden" name="InfoDanos[2].incidenteTipo" value="equipo"/>  
                                        <hr />                       
                                    </div>
                                }
                            }
					    </div>
                        <div class="tab-pane" id="tab-r4" style="padding-bottom:1%; overflow:hidden">
						    <a class="btn btn-primary" onclick="addInfoDano($('#tabContainer'), $('#instalacion'), $('#tab-r4'), '3')" style="cursor:pointer; margin-bottom:1%">Agregar Instalacion</a>
                            @{                                    
                                i = 0;
                                var instalaciones = Model.InfoDanos.Where(x => x.incidenteTipo == "instalacion");
                                foreach (var instalacion in instalaciones)
                                {                                      
                                    <input type="hidden" name="InfoDanos[@i].idInfoDano" value="@instalacion.idInfoDano" />                                                                         
						            <div class="form-group instalacion" id="instalacion" style="overflow:hidden">                                               
                                        <input type="hidden" name="InfoDanos[@i].incidenteDano" value="@instalacion.incidenteDano" />                     
                                        <div class="col-md-3">
                                            <label for="InfoDanos[@i].instalacion">Instalacion</label>
                                            @Html.TextArea("InfoDanos[" + i + "].instalacion", instalacion.instalacion, new { @class = "form-control input-sm" })
                                        </div>                            
                                        <div class="col-md-4">
                                            <label for="InfoDanos[@i].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[" + i + "].informacion", instalacion.informacion, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-4">
                                            <label for="InfoDanos[@i].dano">Descripcion del Daño</label>
                                            @Html.TextArea("InfoDanos[" + i + "].dano", instalacion.dano, new { @class = "form-control input-sm" })
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.instalacion', 'deleteInfoDano', '@instalacion.idInfoDano');">
                                                <i class="fa fa-minus"></i></a>                          
                                        </div>
                                        <input type="hidden" name="InfoDanos[@i].incidenteTipo" value="instalacion"/>       
                                        <hr />                                                        
                                    </div>                                    
                                    i++;
                                }
                                if (instalaciones.ToList().Count == 0)
                                {
                                    <div class="form-group instalacion" id="instalacion" style="overflow:hidden">   
                                        <input type="hidden" name="InfoDanos[3].incidenteDano" value="@Model.idDano" />                         
                                        <div class="col-md-3">
                                            <label for="InfoDanos[3].instalacion">Instalacion</label>
                                            @Html.TextArea("InfoDanos[3].instalacion", null, new { @class = "form-control input-sm" })
                                        </div>                            
                                        <div class="col-md-8">
                                            <label for="InfoDanos[3].informacion">Informacion</label>
                                            @Html.TextArea("InfoDanos[3].informacion", null, new { @class = "form-control input-sm" })
                                        </div>  
                                        <div class="col-md-1">
                                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.instalacion', 'deleteInfoDano', '-1');">
                                                <i class="fa fa-minus"></i></a>                          
                                        </div>
                                        <input type="hidden" name="InfoDanos[3].incidenteTipo" value="instalacion"/>       
                                        <hr />                                                        
                                    </div>    
                                }
                            }
					    </div>
				    </div>
			    </div>
				
		    </div>
		    <!-- end widget content -->
				
	    </div>
	    <!-- end widget div -->
				
    </div>
    <!-- end widget -->
    
    <div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Personal Involucrado </h2>
	    </header>
				
	    <!-- widget div-->
	    <div>
				
		    <!-- widget edit box -->
		    <div class="jarviswidget-editbox">
			    <!-- This area used as dropdown edit box -->
				
		    </div>
		    <!-- end widget edit box -->
				
		    <!-- widget content -->
		    <div class="widget-body">
                <a class="btn btn-primary" onclick="addInfoDano($('#tabPersonal'), $('#personal'), $('#tabPersonal'), '0')" style="cursor:pointer; margin-bottom:1%">Agregar Personal</a>                 
			    <div class="form-group" id="tabPersonal" data-id="@(Model.PersonalInvolucradoDano.ToList().Count - 1)" style="overflow:hidden">    
                    @{                                    
                        i = 0;
                        foreach (var personal in Model.PersonalInvolucradoDano)
                        {
                            var list = (ViewBag.entidades as SelectList).ToList();
                            list.ForEach(x => x.Selected = false);
                            list.First(x => x.Value == personal.empresaPe0rsonalInvol.ToString()).Selected = true;
                            <input type="hidden" name="PersonalInvolucradoDano[@i].idPersonalinvol" value="@personal.idPersonalinvol" />
                            <div class="form-group personal" id="personal" style="overflow:hidden" >                                   
                                <input type="hidden" name="PersonalInvolucradoDano[@i].incidenteDano" value="@personal.incidenteDano" />
                                <div class="col-md-2">
                                    <label for="PersonalInvolucradoDano[@i].identidadPersonalInvol">Numero de Identidad</label>
                                    @Html.TextBox("PersonalInvolucradoDano[" + i + "].identidadPersonalInvol", personal.identidadPersonalInvol, new { @class = "form-control input-sm list", placeholder="0501199002283", @onkeydown = "onTabPressedPersonal($(this).val(), 'PersonalInvolucradoDano_" + i + "__nombrePersonalInvol', 'PersonalInvolucradoDano_" + i + "__posicionPersonalInvol', 'PersonalInvolucradoDano_" + i + "__empresaPe0rsonalInvol', event);" })
                                </div>                      
                                <div class="col-md-3">
                                    <label for="PersonalInvolucradoDano[@i].nombrePersonalInvol">Nombre Completo:</label>
                                    @Html.TextBox("PersonalInvolucradoDano[" + i + "].nombrePersonalInvol", personal.nombrePersonalInvol, new { @class = "form-control input-sm list" })
                                </div>                             
                                <div class="col-md-3">
                                    <label for="PersonalInvolucradoDano[@i].posicionPersonalInvol">Posicion</label>
                                    @Html.TextBox("PersonalInvolucradoDano[" + i + "].posicionPersonalInvol", personal.posicionPersonalInvol, new { @class = "form-control input-sm list" })
                                </div> 
                                <div class="col-md-3">
                                    <label for="PersonalInvolucradoDano[@i].empresaPe0rsonalInvol">Empresa que representa: </label>
                                    @Html.DropDownList("PersonalInvolucradoDano[" + i + "].empresaPe0rsonalInvol", list, "-- Select One --", new { @class = "form-control input-sm", required = "required" })     
                                </div>  
                                    <div class="col-md-1">
                                        <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.personal', 'deletePersonal', '@personal.idPersonalinvol');">
                                            <i class="fa fa-minus"></i></a>                                            
                                    </div>              
                                <hr />   
                            </div>
                            i++;
                        }
                        if (Model.PersonalInvolucradoDano.ToList().Count == 0)
                        {
                             <div class="form-group personal" id="personal" style="overflow:hidden" >   
                                <input type="hidden" name="PersonalInvolucradoDano[0].incidenteDano" value="@Model.idDano" />
                                <div class="col-md-2">
                                    <label for="PersonalInvolucradoDano[0].identidadPersonalInvol">Numero de Identidad</label>
                                    @Html.TextBox("PersonalInvolucradoDano[0].identidadPersonalInvol", null, new { @class = "form-control input-sm list", placeholder="0501199108543", @onkeydown = "onTabPressedPersonal($(this).val(), 'PersonalInvolucradoDano_0__nombrePersonalInvol', 'PersonalInvolucradoDano_0__posicionPersonalInvol', 'PersonalInvolucradoDano_0__empresaPe0rsonalInvol', event);" })
                                </div>                      
                                <div class="col-md-3">
                                    <label for="PersonalInvolucradoDano[0].nombrePersonalInvol">Nombre Completo:</label>
                                    @Html.TextBox("PersonalInvolucradoDano[0].nombrePersonalInvol", null, new { @class = "form-control input-sm list" })
                                </div>                             
                                <div class="col-md-3">
                                    <label for="PersonalInvolucradoDano[0].posicionPersonalInvol">Posicion</label>
                                    @Html.TextBox("PersonalInvolucradoDano[0].posicionPersonalInvol", null, new { @class = "form-control input-sm list" })
                                </div> 
                                <div class="col-md-3">
                                    <label for="PersonalInvolucradoDano[0].empresaPersonalInvol">Empresa que representa: </label>
                                    @Html.DropDownList("PersonalInvolucradoDano[0].empresaPersonalInvol", (ViewBag.entidades as SelectList), "-- Select One --", new { @class = "form-control input-sm", required = "required" })     
                                </div>  
                                    <div class="col-md-1">
                                        <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.personal', 'deleteInfoDano', '-1');">
                                            <i class="fa fa-minus"></i></a>                                            
                                    </div>              
                                <hr />   
                            </div>
                        }
                    }
                    </div>  
            </div>
        </div>
    </div>    
    
    <div class="jarviswidget descripcion" id="wid-id-8 Descripcion" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Breve Descripcion del Incidente</h2>
	    </header>
	    <div>
		    <div class="widget-body">   
                <div class="col-md-12">
                    <label for=""></label>
                    @Html.TextArea("descripcionIncidente", Model.descripcionIncidente, new { @class = "form-control input-sm list" })
                </div>
            </div>
        </div>
    </div>
    
    <div id="tabDeclaraciones" style="overflow:hidden" data-id="@(Model.DeclaracionDanoIncidente.ToList().Count - 1)">
        <a class="btn btn-primary" onclick="addInfoDano($('#tabDeclaraciones'), $('#declaracion'), $('#tabDeclaraciones'), '0');" style="cursor:pointer; margin-bottom:1%">Agregar Declaracion</a>
         @{                                    
            i = 0;
            foreach (var declaracion in Model.DeclaracionDanoIncidente)
            {            
                <input type="hidden" name="DeclaracionDanoIncidente[@i].idDeclaracion" value="@declaracion.idDeclaracion" />
                <div id="declaracion" class="declaracion">                    
                    <input type="hidden" name="DeclaracionDanoIncidente[@i].incidenteDano" value="@declaracion.incidenteDano" /> 
                    <div class="jarviswidget" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	                    <header>
		                    <h2>Declaracion de testigo #@(i + 1) </h2>
	                    </header>
	                    <div>
		                    <div class="widget-body">   
                                <div class="col-md-11">
                                    <label for=""></label>
                                    @Html.TextArea("DeclaracionDanoIncidente[" + @i + "].declaracionDano", declaracion.declaracionDano, new { @class = "form-control input-sm list" })
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.declaracion', 'deleteDeclaracion', '@declaracion.idDeclaracion');">
                                        <i class="fa fa-minus"></i></a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }
            if (Model.DeclaracionDanoIncidente.ToList().Count == 0)
            { 
                        <div id="declaracion" class="declaracion">
                    <input type="hidden" name="DeclaracionDanoIncidente[0].incidenteDano" value="@Model.idDano" />
                    <div class="jarviswidget" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	                    <header>
		                    <h2>Declaracion de testigo #1 </h2>
	                    </header>
	                    <div>
		                    <div class="widget-body">   
                                <div class="col-md-11">
                                    <label for=""></label>
                                    @Html.TextArea("DeclaracionDanoIncidente[0].declaracionDano", null, new { @class = "form-control input-sm list" })
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.declaracion', 'deleteDeclaracion', '-1');">
                                        <i class="fa fa-minus"></i></a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div> 
            }
        }
    </div>    
            
    <div class="jarviswidget" id="wid-id-15" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Analisis de la Causa Raiz </h2>
	    </header>
	    <div>
		    <div class="widget-body">   
                <div class="col-md-12">
                    <label for=""></label>
                    @Html.TextArea("analisisCausa", Model.analisisCausa, new { @class = "form-control input-sm list" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="jarviswidget" id="wid-id-16" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Acciones Correctivas de EHS </h2>
	    </header>
	    <div>            
		    <div class="widget-body">   
                <a class="btn btn-primary" onclick="addInfoDano($('#acciones'), $('#accion'), $('#acciones'), '0');" style="cursor:pointer; margin-bottom:1%">Agregar Accion</a>
                <div id="acciones" data-id="@(Model.AccionCorrectivaEHS.ToList().Count - 1)" style="overflow:hidden" class="acciones">
                    @{                                    
                        i = 0;
                        foreach (var accion in Model.AccionCorrectivaEHS)
                        {
                            var list = (ViewBag.representanteAccion as SelectList).ToList();
                            list.ForEach(x => x.Selected = false);
                            list.First(x => x.Value == accion.responsableEHS.ToString()).Selected = true;  
                            <input type="hidden" name="AccionCorrectivaEHS[@i].idAccionCorrectiva" value="@accion.idAccionCorrectiva" />                                                                            
                            <div id="accion" class="accion" style="overflow:hidden" >                                
                                <input type="hidden" name="AccionCorrectivaEHS[@i].incidenteDano" value="@accion.incidenteDano" />  
                                <div class="col-md-6" >
                                    <label for="AccionCorrectivaEHS[@i].idAccionCorrectiva"></label>
                                    @Html.TextArea("AccionCorrectivaEHS[" + i + "].accionDescripcion", accion.accionDescripcion, new { @class = "form-control input-sm list", required = "required" })
                                </div>
                                <div class="col-md-5">
                                    <label for="AccionCorrectivaEHS[@i].responsableEHS"></label>
                                    @Html.DropDownList("AccionCorrectivaEHS[" + i + "].responsableEHS", list, new { @class = "form-control input-sm list" })
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.accion', 'deleteAccion', '@accion.idAccionCorrectiva');">
                                        <i class="fa fa-minus"></i></a>                                            
                                </div>
                            </div>
                            i++;
                        }
                        if (Model.AccionCorrectivaEHS.ToList().Count == 0)
                        {                          
                             <div id="accion" class="accion" style="overflow:hidden" >
                                 <input type="hidden" name="AccionCorrectivaEHS[0].incidenteDano" value="@Model.idDano" />  
                                <div class="col-md-6" >
                                    <label for="AccionCorrectivaEHS[0].accionDescripcion"></label>
                                    @Html.TextArea("AccionCorrectivaEHS[0].accionDescripcion", null, new { @class = "form-control input-sm list", required = "required" })
                                </div>
                                <div class="col-md-5">
                                    <label for="AccionCorrectivaEHS[0].responsableEHS"></label>
                                    @Html.DropDownList("AccionCorrectivaEHS[0].responsableEHS", (ViewBag.representanteAccion as SelectList), new { @class = "form-control input-sm list" })
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.accion', 'deleteAccion', '-1'););">
                                        <i class="fa fa-minus"></i></a>                                            
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-sm" })
        <input type="submit" value="Save" class="btn btn-info btn-sm"/> 
    </div>
}
<script src="~/js/plugin/spinjs/spin.js"></script>
<script>

    function getSpinnerOpts() {
        var opts = {
            lines: 10,
            lenght: 20,
            width: 10,
            radius: 30,
            corners: 1,
            rotate: 0,
            direction: 1,
            color: '#000',
            speed: 1,
            trail: 60,
            shadow: true,
            hwaccel: true,
            className: 'spinner',
            zIndex: 2e9,
            top: '50%',
            left: '50%'
        };
        return opts;
    }

    function onTabPressedUnits(nroContenedor, controlToFill, evt) {
        if (evt.which == 9) {
            //var spinner = new Spinner(getSpinnerOpts()).spin(window);
            getUnitInfo(nroContenedor, controlToFill);
            //spinner.stop();
        }
    }

    function onTabPressedPersonal(id, controlToFill1, controlToFill2, controlToFill3, evt) {
        if (evt.which == 9) {
            var spinner = new Spinner(getSpinnerOpts()).spin(document.getElementById('danosForm'));
            getPersonInfo(id, controlToFill1, controlToFill2, controlToFill3);
            spinner.stop();
        }
    }

    function getPersonInfo(id, controlToFill1, controlToFill2, controlToFill3) {
        $.ajax({ url: '/Danos/getMeta4InfoById', async: false, data: { cedula: id } }).success(function (m4) {
            if (m4 != null) {
                $('#' + controlToFill1).val(m4.NOMBRES + " " + m4.PRIMER_APELLIDO + " " + m4.SEGUNDO_APELLIDO);
                $('#' + controlToFill2).val(m4.DESCRIPCION_PUESTO);
                $('#' + controlToFill3).val('1');
            }
        }).error(function (err) {
            showMessage("Id no Encontrado", '#C46A69');
        });

    }

    function getUnitInfo(nroContenedor, controlToFill) {
        $.ajax({ url: '/Danos/getUnitInfo', async: false, data: { nroContenedor: nroContenedor } }).success(function (info) {
            $('#' + controlToFill).val(info);
        }).error(function (err) {
            showMessage("Unit not Found", '#C46A69');
        });
    }

    function getVesselInfo(VesselId, controlToFill1, controlToFill2) {
        $.ajax({ url: '/Danos/getVesselInfo', async: false, data: { VesselId: VesselId } }).success(function (info) {
            var control = $('#' + controlToFill1);
            control.html(info);
        }).error(function (err) {
            showMessage("Buque no Encontrado", '#C46A69');
        });
        $.ajax({ url: '/Danos/getVesselVisitId', async: false, data: { VesselId: VesselId } }).success(function (info2) {
            var control = $('#' + controlToFill2);
            control.val(info2);
        }).error(function (err) {
            showMessage("Buque no Encontrado", '#C46A69');
        });
    }

    $(".date").datepicker({ default: "Today", dateFormat: "mm/dd/yy" });

    function showMessage(message, color) {
        $.smallBox({
            title: "Operadora Portuaria Centroamericana",
            content: "<i class='fa fa-clock-o'></i> <i>" + message + "</i>",
            color: color,
            iconSmall: "fa fa-times fa-2x fadeInRight animated",
            timeout: 4000
        });
    }

    function deleteItem(element, classToFind, action, id) {
        var count = $(classToFind).length;
        if (count == 1) { showMessage("Debe ingresar al menos un elemento", '#C46A69'); return; }
        else element.closest(classToFind).remove();
        if (id != '-1') $.ajax({ url: '/Danos/' + action, data: { id : id, dano : '@Model.idDano'} });
    }

    function addInfoDano(mainContainer, element, container, initIndex) {
        var id = mainContainer.data('id');
        var newId = id + 1;
        var html = $(element).prop('outerHTML');
        var newHtml = html.replace(new RegExp('\\[.*?\\]', 'g'), '[' + newId + ']').replace(new RegExp('_.*?__', 'g'), '_' + newId + '__');
        if (newHtml.indexOf('Declaracion') > -1) {
            var newNumber = ('#' + (newId + 1).toString());
            newHtml = newHtml.replace('#1', newNumber);
        }
        container.append(newHtml);
        mainContainer.data('id', newId);
    }
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}