﻿@model List<Respuestas>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<h2>Create</h2>
<script type="text/javascript">
    function sendInspeccion() {
        var InspeccionModel = '';
        $.ajax({
            type: "POST",
            async: false,
            url: "http://localhost:52400/Inspecciones/CreateInspeccion",
            data: {
                idInspeccion: null,
                buque: document.getElementById('buque').value,
                fecha: document.getElementById('fecha').value,
                visita: document.getElementById('visita').value,
                representanteTer: document.getElementById('representanteTer').value,
                representanteBuq: document.getElementById('representanteBuq').value,
                turno: document.getElementById('turno').value
            }
        }).done(function(msg) {alert('Ok')});
    }
</script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inspeccion</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("buque", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("buque", String.Empty)
                @*@Html.ValidationMessageFor(model => model.buque)*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fecha")
                @*@Html.ValidationMessageFor(model => model.fecha)*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Visita", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("visita")
                @*@Html.ValidationMessageFor(model => model.visita)*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("representanteTer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("representanteTer", String.Empty)
                @*@Html.ValidationMessageFor(model => model.representanteTer)*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("representanteBuq", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("representanteBuq", String.Empty)
                @*@Html.ValidationMessageFor(model => model.representanteBuq)*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Turno", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("turno")
                @*@Html.ValidationMessageFor(model => model.turno)*@
            </div>
        </div>
        
    </div>
    <div class="table-responsive">
        <table class="table">
            @{
                int i = 0; 
                foreach(var mSegmento in ViewBag.segmentos as List<Segmentos>)
                {                               
                    <tr><td>@mSegmento.etiquetaEsp</td><td></td></tr>                              
                    List<Preguntas> mPreguntas = (ViewBag.preguntas as List<Preguntas>);
                    mPreguntas = mPreguntas.Where(x => x.segmento.Equals(mSegmento.idSegmento)).OrderBy(x => x.orden).ToList();                                               
                    foreach(var mPregunta in mPreguntas)
                    {                    
                        <tr>
                            <td>@mPregunta.etiquetaEsp</td>
                            @Html.HiddenFor(x => x[i].pregunta)
                            @Html.HiddenFor(x => x[i].tipoRespuesta)                     
                            <td>@Html.TextBoxFor(x => x[i].vTexto)
                                @if(mPregunta.tipoPregunta == "1") 
                                {
                                    Html.TextBoxFor(x => x[i].vFecha); 
                                }
                                @if(mPregunta.tipoPregunta == "2") 
                                {
                                    Html.RadioButton("Respuestas[" + i + "].vSeleccion", Model[i].vSeleccion, "S");
                                    Html.RadioButton("Respuestas[" + i + "].vSeleccion", Model[i].vSeleccion, "N");
                                    Html.RadioButton("Respuestas[" + i + "].vSeleccion", Model[i].vSeleccion, "N/A");
                                }
                            </td>
                        </tr>
                        i++;
                    }                
                }    
            }        
        </table>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" onclick="sendInspeccion()"/>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}