﻿@model MVCBase.Inspeccion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inspeccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buque1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buque1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representante.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representante.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representante1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representante1.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}