﻿@model MVCBase.NoConformidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NoConformidad</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroContenedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroContenedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noSello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noSello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.danoContenedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danoContenedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etiquetaMercancia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etiquetaMercancia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.danoguias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danoguias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buque1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buque1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspeccion.visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspeccion.visita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idNoConformidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
