﻿@model MVCBase.Investigacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    <div class="jarviswidget descripcion" id="wid-id-8 InfoGeneral" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Informacion General</h2>
	    </header>
	    <div style="overflow:hidden;">
		    <div class="widget-body">     
                <div class="form-group">
                    @Html.LabelFor(model => model.titulo, "Titulo", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.titulo, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.titulo)
                    </div>

                    @Html.LabelFor(model => model.empresa, "Empresa", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownList("empresa", null, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.empresa)
                    </div>
                </div>
                <div class="form-group">
                   @* @Html.LabelFor(model => model.departamento, "Departamento", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownList("departamento", null, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.departamento)
                    </div>*@

                    @Html.LabelFor(model => model.personaInformo, "Persona que Informo el Evento", new { @class = "control-label col-md-1" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.personaInformo, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.personaInformo)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jarviswidget descripcion" id="wid-id-8 InfoLesionado" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Informacion del Lesionado</h2>
	    </header>
	    <div style="overflow:hidden;">
		    <div class="widget-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.identidad, "Identidad", new { @class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.identidad, new { @class = "form-control input-sm", placeholder="0501199002283", @onkeydown = "onTabPressedPersonal($(this).val(), 'nombre', 'puesto', 'edad', 'antiguedadEmpresa', 'AntiguedadPuesto', event);" })
                        @Html.ValidationMessageFor(model => model.identidad)
                    </div>
                    
                    @Html.LabelFor(model => model.codEmpleado, "Codigo de Empleado", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.codEmpleado, new { @class = "form-control input-sm", @onkeydown = "onTabPressedPersonalCode($(this).val(), 'nombre', 'puesto', 'edad', 'antiguedadEmpresa', 'AntiguedadPuesto', event);" })
                        @Html.ValidationMessageFor(model => model.codEmpleado)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.nombre, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.nombre)
                    </div>

                    @Html.LabelFor(model => model.puesto, "Puesto", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.puesto, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.puesto)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.antiguedadEmpresa, "Antiguedad en la Empresa", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.antiguedadEmpresa, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.antiguedadEmpresa)
                    </div>

                    @Html.LabelFor(model => model.AntiguedadPuesto, "Antiguedad en el Puesto", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.AntiguedadPuesto, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.AntiguedadPuesto)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.edad, "Edad", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.edad, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.edad)
                    </div>                

                    @Html.LabelFor(model => model.trabajoRealizaba, "Trabajo que Realizaba", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.trabajoRealizaba, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.trabajoRealizaba)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.eraPuestoTrabajo, "Era su Puesto de Trabajo", new { @class = "control-label col-md-1 col-md-2 col-md-offset-1" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.eraPuestoTrabajo, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.eraPuestoTrabajo)
                    </div>

                    @Html.LabelFor(model => model.trabajoEncomendado, "Trabajo Encomendado", new { @class = "control-label col-md-1" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.trabajoEncomendado, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.trabajoEncomendado)
                    </div>

                    @Html.LabelFor(model => model.incapacidadMedica, "Incapacidad Medica", new { @class = "control-label col-md-1" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.incapacidadMedica, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.incapacidadMedica)
                    </div>

                    @Html.LabelFor(model => model.diasIncapacidad, "Dias Incapacidad", new { @class = "control-label col-md-1" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.diasIncapacidad, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.diasIncapacidad)
                    </div>
                </div> 
                       
            </div>
        </div>
    </div>
 
    <div class="jarviswidget descripcion" id="wid-id-8 InfoLesion" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Informacion de la Lesion</h2>
	    </header>
	    <div style="overflow:hidden;">
		    <div class="widget-body">  
                <div class="form-group">
                    @Html.LabelFor(model => model.lugarLesiono, "Lugar Lesion", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.lugarLesiono, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.lugarLesiono)
                    </div>

                    @Html.LabelFor(model => model.tipoLesion, "Tipo de Lesion", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownList("tipoLesion", (ViewBag.tipoLesion as SelectList), new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.tipoLesion)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.causaLesion, "Causa de Lesion", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownList("causaLesion", (ViewBag.causaLesion as SelectList), new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.causaLesion)
                    </div>

                    @Html.LabelFor(model => model.status, "Status", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.status, (ViewBag.status as SelectList), new { @class = "form-control input-sm" }) 
                        @Html.ValidationMessageFor(model => model.status)
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.LabelFor(model => model.probabilidad, "Prob. Ocurrencia", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.probabilidad, (ViewBag.probabilidad as SelectList), new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.probabilidad)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.infoMedica, "Informacion Medica", new { @class = "control-label col-md-1" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.infoMedica, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.infoMedica)
                    </div>
                </div>             

                <div class="form-group">
                    @Html.LabelFor(model => model.gravedad, "Gravedad de la Lesion", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.gravedad, (ViewBag.gravedad as SelectList), new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.gravedad)
                    </div>

                    @Html.LabelFor(model => model.objetocauso, "Objeto que causo la Lesion", new { @class = "control-label col-md-1" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.objetocauso, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.objetocauso)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jarviswidget descripcion" id="wid-id-8 Descripcion" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Breve Descripcion del Incidente</h2>
	    </header>
	    <div>   
		    <div class="widget-body">   
                <div class="col-md-12">
                    <label for=""></label>
                    @Html.TextArea("descripcion", null, new { @class = "form-control input-sm list" })
                </div>
            </div>
        </div>
    </div>
    
    <div id="tabDeclaraciones" style="overflow:hidden" data-id="0">
        <a class="btn btn-primary" onclick="addInfoDano($('#tabDeclaraciones'), $('#declaracion'), $('#tabDeclaraciones'), '0');" style="cursor:pointer; margin-bottom:1%">Agregar Declaracion</a>
        <div id="declaracion" class="declaracion">
            <div class="jarviswidget" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	            <header>
		            <h2>Declaracion de testigo #1 </h2>
	            </header>
	            <div>
		            <div class="widget-body">   
                        <div class="col-md-11">
                            <label for=""></label>
                            @Html.TextArea("DeclaracionInvestigacion[0].declaracionInvestigacion1", null, new { @class = "form-control input-sm list" })
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-danger" style="height:inherit" onclick="deleteItem($(this), '.declaracion');">
                                <i class="fa fa-minus"></i></a>                                            
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    

        <div class="jarviswidget" id="wid-id-10 Equipo" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	            <header>
		            <h2>Equipo de Proteccion </h2>
	            </header>
	        <div style="overflow:hidden;">
		        <div class="widget-body">   
                    <div class="form-group">
                        @Html.LabelFor(model => model.adecuado, "Adecuado", new { @class = "control-label col-md-1" })
                        <div class="col-md-1">
                            @Html.CheckBoxFor(model => model.adecuado, new { @class = "form-control input-sm list" })
                            @Html.ValidationMessageFor(model => model.adecuado)
                        </div>

                        @Html.LabelFor(model => model.adecuadoComentario, "Comentario", new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.adecuadoComentario, new { @class = "form-control input-sm list" })
                            @Html.ValidationMessageFor(model => model.adecuadoComentario)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.usoCorrecto, "Uso Correcto", new { @class = "control-label col-md-1" })
                        <div class="col-md-1">
                            @Html.CheckBoxFor(model => model.usoCorrecto, new { @class = "form-control input-sm list" })
                            @Html.ValidationMessageFor(model => model.usoCorrecto)
                        </div>

                        @Html.LabelFor(model => model.usoCorrectoComentario, "Comentario", new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.usoCorrectoComentario, new { @class = "form-control input-sm list" })
                            @Html.ValidationMessageFor(model => model.usoCorrectoComentario)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sugerido, "Sugerido", new { @class = "control-label col-md-1" })
                        <div class="col-md-1">
                            @Html.CheckBoxFor(model => model.sugerido, new { @class = "form-control input-sm list" })
                            @Html.ValidationMessageFor(model => model.sugerido)
                        </div>

                        @Html.LabelFor(model => model.sugeridoComentario, "Comentario", new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.sugeridoComentario, new { @class = "form-control input-sm list" })
                            @Html.ValidationMessageFor(model => model.sugeridoComentario)
                        </div>
                    </div>    
                </div>                    
            </div>
        </div>
            
    <div class="jarviswidget" id="wid-id-15" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Analisis de la Causa Raiz </h2>
	    </header>
	    <div>
		    <div class="widget-body">   
                <div class="col-md-12">
                    <label for=""></label>
                    @Html.TextArea("analisisCausa", null, new { @class = "form-control input-sm list" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="jarviswidget" id="wid-id-16" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Acciones Correctivas de EHS </h2>
	    </header>
        <div>
            <div class="widget-body">
                <a class="btn btn-primary" onclick="addInfoDano($('#acciones'), $('#accion'), $('#acciones'), '0');" style="cursor: pointer; margin-bottom: 1%">Agregar Accion</a>
                <div id="acciones" data-id="0" style="overflow: hidden" class="acciones">
                    <div id="accion" class="accion" style="overflow: hidden">
                        <div class="col-md-6">
                            <label for="AccionCorrectivaInvestigacion[0].accionDescripcion"></label>
                            @Html.TextArea("AccionCorrectivaInvestigacion[0].accionDescripcion", null, new { @class = "form-control input-sm list", required = "required" })
                        </div>
                        <div class="col-md-5">
                            <label for="AccionCorrectivaInvestigacion[0].responsableEHS"></label>
                            @Html.DropDownList("AccionCorrectivaInvestigacion[0].responsableEHS", (ViewBag.representantes as SelectList), new { @class = "form-control input-sm list" })
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-danger" style="height: inherit" onclick="deleteItem($(this), '.accion');">
                                <i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    <div class="jarviswidget" id="wid-id-16 Evaluacion" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
	    <header>
		    <h2>Evaluacion y Revision</h2>
	    </header> 
        <div>
            <div class="widget-body">
                <a class="btn btn-primary" onclick="addInfoDano($('#evaluaciones'), $('#evaluacion'), $('#evaluaciones'), '0');" style="cursor: pointer; margin-bottom: 1%">Agregar Ev/Revision</a>
                <div id="evaluaciones" data-id="0" style="overflow: hidden" class="evaluaciones">
                    <div id="evaluacion" class="evaluacion" style="overflow:hidden">
                        <div class="col-md-3">
                            <label for="EvaluacionRevision[0].investigadorPor"></label>
                            @Html.DropDownList("EvaluacionRevision[0].investigadorPor", (ViewBag.representantes as SelectList), new { @class = "form-control input-sm list" })
                            
                        </div>
                        <div class="col-md-2">
                            <label for="EvaluacionRevision[0].fechaInvestigo"></label>
                            @Html.TextBox("EvaluacionRevision[0].fechaInvestigo", null, new { @class = "form-control input-sm list date datepicker", required = "required" })
                        </div>
                        <div class="col-md-3">
                            <label for="EvaluacionRevision[0].revisadoPor"></label>
                            @Html.DropDownList("EvaluacionRevision[0].revisadoPor", (ViewBag.representantes as SelectList), new { @class = "form-control input-sm list" })
                            
                        </div>
                        <div class="col-md-2">
                            <label for="EvaluacionRevision[0].fechaReviso"></label>
                            @Html.TextBox("EvaluacionRevision[0].fechaReviso", null, new { @class = "form-control input-sm list date datepicker", required = "required" })
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-danger" style="height: inherit" onclick="deleteItem($(this), '.evaluacion');">
                                <i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-info btn-sm" })
        <input type="submit" value="Create" class="btn btn-info btn-sm"/> 
    </div> 
    </div>
}
<script src="~/js/plugin/momentjs/moment.js"></script>
<script>

    function onTabPressedPersonal(id, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5, evt) {
        if (evt.which == 9)
            getPersonInfo(id, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5);
    }
    
    function onTabPressedPersonalCode(code, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5, evt) {
        if (evt.which == 9)
            getPersonInfoCode(code, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5);
    }

    function getPersonInfo(id, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5) {
        $.ajax({ url: '/Investigaciones/getMeta4InfoById', async: false, data: { cedula: id } }).success(function (m4) {
            if (m4 != null) {
                $('#codEmpleado').val(m4.ID_RH);
                fillControls(m4, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5);
            }
        }).error(function (err) {
            $.ajax({ url: '/Investigaciones/getMedicalPersonInfoId', async: false, data: { cedula: id } }).success(function (m4) {
                if (m4 != null) {
                    $('#' + controlToFill1).val(m4.Nombre);
                }
            }).error(function (err) {
                $.ajax({ url: '/Investigaciones/getDriverInfo', async: false, data: { cedula: id } }).success(function (m4) {
                    if (m4 != null) {
                        $('#' + controlToFill1).val(m4.name);
                    }
                }).error(function () { showMessage("Id no Encontrado", '#C46A69'); } )            
            }) });
    }

    function getPersonInfoCode(code, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5) {
        $.ajax({ url: '/Investigaciones/getMeta4InfoByCode', async: false, data: { code: code } }).success(function (m4) {
            if (m4 != null) {
                $('#identidad').val(m4.CEDULA);
                fillControls(m4, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5);
            }
        }).error(function (err) {
            $.ajax({ url: '/Investigaciones/getMedicalPersonInfoCode', async: false, data: { code: code } }).success(function (m4) {
                if (m4 != null) {
                    $('#' + controlToFill1).val(m4.Nombre);
                }
            }).error(function (err) { showMessage("Id no Encontrado", '#C46A69'); })
        });
    }
    
    function fillControls(m4, controlToFill1, controlToFill2, controlToFill3, controlToFill4, controlToFill5) {
        $('#' + controlToFill1).val(m4.NOMBRES + " " + m4.PRIMER_APELLIDO + " " + m4.SEGUNDO_APELLIDO);
        $('#' + controlToFill2).val(m4.DESCRIPCION_PUESTO);
        var year = new Date().getFullYear();
        $('#' + controlToFill3).val(moment().diff(moment(m4.FECHA_NACIMIENTO, "DD/MM/YYYY"), 'years'));
        $('#' + controlToFill4).val(moment().diff(moment(m4.FECHA_ALTA, "DD/MM/YYYY"), 'months'));
        $('#' + controlToFill5).val(moment().diff(moment(m4.FECHA_INICIO_PUESTO, "DD/MM/YYYY"), 'months'));
    }

    $(".date").datepicker({ default: "Today", dateFormat: "dd/mm/yy" });

    function showMessage(message, color) {
        $.smallBox({
            title: "Operadora Portuaria Centroamericana",
            content: "<i class='fa fa-clock-o'></i> <i>" + message + "</i>",
            color: color,
            iconSmall: "fa fa-times fa-2x fadeInRight animated",
            timeout: 4000
        });
    }

    function deleteItem(element, classToFind) {
        var count = $(classToFind).length;
        if (count == 1 && element.closest(classToFind).html().indexOf('InfoDanos') == -1) showMessage("Debe ingresar al menos un elemento", '#C46A69');
        else element.closest(classToFind).remove();
    }

    function addInfoDano(mainContainer, element, container, initIndex) {
        var id = mainContainer.data('id');
        var newId = id + 1;
        var html = $(element).prop('outerHTML');
        var newHtml = html.replace(new RegExp('\\[.*?\\]', 'g'), '[' + newId + ']').replace(new RegExp('_.*?__', 'g'), '_' + newId + '__');
        if (newHtml.indexOf('Declaracion') > -1) {
            var newNumber = ('#' + (newId + 1).toString());
            newHtml = newHtml.replace('#1', newNumber);
        }
        container.append(newHtml);
        $(mainContainer).find('.date').datepicker('destroy');
        $(mainContainer).find('.date').datepicker({ default: "Today", dateFormat: "mm/dd/yy" });
        mainContainer.data('id', newId);
    }
</script>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}