﻿@model MVCBase.Investigacion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Investigacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personaInformo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personaInformo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antiguedadEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antiguedadEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntiguedadPuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntiguedadPuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trabajoRealizaba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trabajoRealizaba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eraPuestoTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eraPuestoTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trabajoEncomendado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trabajoEncomendado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incapacidadMedica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incapacidadMedica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diasIncapacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diasIncapacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugarLesiono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugarLesiono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.probabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.probabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infoMedica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infoMedica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gravedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gravedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetocauso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetocauso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adecuado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adecuado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adecuadoComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adecuadoComentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usoCorrecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usoCorrecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usoCorrectoComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usoCorrectoComentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sugerido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sugerido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sugeridoComentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sugeridoComentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.analisisCausa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.analisisCausa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CausaLesion1.tipoCausa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CausaLesion1.tipoCausa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entidad.entidad1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entidad.entidad1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLesion1.tipoLesion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLesion1.tipoLesion1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
