﻿@model Inspeccion
@using System.IO;

<input type="hidden" id="hiddenSelectId" name="hiddenSelectId"/>                        
                           
<div class="row">
    <label class="control-label col-md-4"><strong>Buque</strong></label>
    <div class="col-md-4">
        <div class="form-group">
            <label id="popSelectBuque" style="font-style:italic">@ViewBag.buque</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Fecha</strong></label>
    <div class="col-md-4">
        <div class="form-group">
                <label id="popSelectFecha" style="font-style:italic">@ViewBag.fecha</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Visita</strong></label>
    <div class="col-md-4">
        <div class="form-group">
                <label id="popSelectVisita" style="font-style:italic">@ViewBag.visita</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Representante Terminal</strong></label>
    <div class="col-md-4">
        <div class="form-group">
                <label id="popSelectRTer" style="font-style:italic">@ViewBag.repTer</label>
        </div>
    </div>
</div>

<div class="row">
    <label class="control-label col-md-4"><strong>Representante Buque</strong></label>
    <div class="col-md-4">
        <div class="form-group">
                <label id="popSelectRBuq" style="font-style:italic">@ViewBag.repBuque</label>
        </div>
    </div>
</div>

<hr />
    
<!-- new widget -->
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

	<!-- widget options:
	usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

	data-widget-colorbutton="false"
	data-widget-editbutton="false"
	data-widget-togglebutton="false"
	data-widget-deletebutton="false"
	data-widget-fullscreenbutton="false"
	data-widget-custombutton="false"
	data-widget-collapsed="true"
	data-widget-sortable="false"

	-->
    
	<header>
		<span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
		<h2> Adjuntos </h2>
		<div class="widget-toolbar">
			<!-- add: non-hidden - to disable auto hide -->
		</div>
	</header>

	<!-- widget div-->
	<div>
		<!-- widget edit box -->
		<div class="jarviswidget-editbox">
			<div>
				<label>Title:</label>
				<input type="text" />
			</div>
		</div>
		<!-- end widget edit box -->

		<div class="widget-body widget-hide-overflow no-padding">
			<!-- content goes here -->                                        
			<!-- CHAT BODY -->
			<div id="chat-body" class="chat-body custom-scroll">
				<ul>
                    @foreach (var item in Model.Adjunto) {                                                                                          
					    <li class="message" style="padding:0">													
						    <div class="message-text" style="padding:0">
							    <a class="username">@item.fecha</a> @item.comentario
                                @if(item.path != "" || !item.path.IsEmpty())
                                {
							        <p class="chat-file row">
								        <b class="pull-left col-sm-6"> <!--<i class="fa fa-spinner fa-spin"></i>--> <i class="fa fa-file"></i> @Path.GetFileName(item.path)  </b>
								        <span class="col-sm-6 pull-right"><a href="@(Url.Action("GetFile") + "/" + item.idAdjunto)" class="btn btn-xs btn-success">save</a></span>
							        </p>
                                }
					        </div>
					    </li>
                    }
                    @foreach (var item in Model.NoConformidad) {                                                                                          
					    <li class="message" style="padding:0">													
						    <div class="message-text" style="padding:0">
							    <a class="username">@item.fecha</a> - - - No Conformidad - - -
							    <p class="chat-file row">
								    <b class="pull-left col-sm-6"> <!--<i class="fa fa-spinner fa-spin"></i>--> <i class="fa fa-file"></i> @item.nroContenedor  </b>
								    <span class="col-sm-6 pull-right"><a href="@(Url.Action("NoConfReport") + "/" + item.idNoConformidad)" target="_blank" class="btn btn-xs btn-success">Imprimir</a></span>
							    </p>
					        </div>
					    </li>
                    }
				</ul>
			</div>

			<!-- CHAT FOOTER -->

			<!-- end content -->
		</div>

	</div>
	<!-- end widget div -->
</div>
<!-- end widget -->