﻿@model MVCBase.Inspeccion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<script src="~/Scripts/datePickerScript.js"></script>
<link href="~/css/Radios.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript">
    function showMessage(option, priority) {
        var message = null;
        var color = null;
        if (option != "S") {
            if (priority < 3 && option != "N/A") {
                if (priority == 1) {
                    message = "No puede continuar operaciones";
                    color = "#C46A69";
                }
                if (priority == 2) {
                    message = "No puede continuar operaciones";
                    color = "#FF6600";
                }
            }
            if (priority < 3 && option == "N/A") {
                message = "Verifique si en realidad No Aplica.";
                color = "#FF6600";
            }
            $.smallBox({
                title: "Operadora Portuaria Centroamericana",
                content: "<i class='fa fa-clock-o'></i> <i>" + message + "</i>",
                color: color,
                iconSmall: "fa fa-times fa-2x fadeInRight animated",
                timeout: 4000
            });
        }
    }
</script> 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <!-- NEW ROW -->
				
	<div class="row">
				
				
		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
				
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"
				
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Nueva Inspeccion </h2>
				
				</header>
				
				<!-- widget div-->
				<div>
				
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
				
					</div>
					<!-- end widget edit box -->
				
					<!-- widget content -->
					<div class="widget-body no-padding">
				
    
    <div class="form-horizontal">
@*        <h4>Inspeccion</h4>
        <hr />*@
        <br />
        <br />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.buque, "Buque", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("buque", null, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.buque)
            </div>
        </div>

   @*     <div class="form-group">
            @Html.LabelFor(model => model.fecha, "Fecha", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <label class="input">
                    @Html.EditorFor(model => model.fecha)
                </label>
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>*@

@*        <div class="form-group">
            @Html.LabelFor(model => model.visita, "Visita", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <label class="input">
                    @Html.TextBoxFor(model => model.visita, new { @class = "form-control input-sm" })
                </label>
                @Html.ValidationMessageFor(model => model.visita)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.representanteTer, "Representante de Terminal", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("representanteTer", null, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.representanteTer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.representanteBuq, "Representante de Buque", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("representanteBuq", null, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.representanteBuq)
            </div>
        </div>

@*        <div class="form-group">
            @Html.LabelFor(model => model.turno, "Turno", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.turno, null, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.turno)
            </div>
        </div>*@
        <br />
        <br />

        <!-- widget grid -->
		<section id="widget-grid" class="" >
				
			<!-- row -->
			<div class="row">
				
				<!-- NEW WIDGET START -->
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-11">

					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" style="margin-left:2%">
						<!-- widget options:
						usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
						data-widget-colorbutton="false"
						data-widget-editbutton="false"
						data-widget-togglebutton="false"
						data-widget-deletebutton="false"
						data-widget-fullscreenbutton="false"
						data-widget-custombutton="false"
						data-widget-collapsed="true"
						data-widget-sortable="false"
				
						-->
						<header>
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<h2>Listado de Inspeccion a Buques </h2>
		
						</header>
				
						<!-- widget div-->
						<div>
				
							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->
				
							</div>
							<!-- end widget edit box -->
				
							<!-- widget content -->
							<div class="widget-body no-padding">
								<table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
														    
                                @{
                                    int i = 0;
                                    foreach (var mSegmento in ViewBag.segmentos as List<Segmentos>)
                                    {                               
                                        <tr class="info"><td>@mSegmento.etiquetaEsp / @mSegmento.etiquetaIng </td><td></td></tr>                              
                                        List<Preguntas> mPreguntas = (ViewBag.preguntas as List<Preguntas>);
                                        mPreguntas = mPreguntas.Where(x => x.segmento.Equals(mSegmento.idSegmento)).OrderBy(x => x.orden).ToList();
                                        foreach (var mPregunta in mPreguntas)
                                        {
                                            var mRespuesta = Model.Respuestas.Where(x => x.pregunta == mPregunta.idPregunta).ElementAtOrDefault(0);
                                            i = Model.Respuestas.ToList().IndexOf(mRespuesta);
                                            <tr>
                                                <td>
                                                    @mPregunta.etiquetaEsp<br />
                                                    <p style="font-size:x-small; font-style:italic">@mPregunta.etiquetaIng</p>
                                                </td>
                                                @Html.Hidden("Respuestas[" + i + "].pregunta", (Model.Respuestas as List<Respuestas>)[i].pregunta)
                                                @Html.Hidden("Respuestas[" + i + "].tipoRespuesta", Model.Respuestas.ElementAtOrDefault(i).tipoRespuesta)                     
                                                <td>
                                                    @{
                                                        if (mPregunta.tipoPregunta == "1")
                                                        {
                                                            @Html.TextBox("Respuestas[" + i + "].vTexto", (Model.Respuestas.ElementAtOrDefault(i).vTexto ?? ""), new { @class = "form-control input-sm" })
                                                        }
                                                        if (mPregunta.tipoPregunta == "3")
                                                        {
                                                            @Html.TextBox("Respuestas[" + i + "].vFecha", Model.Respuestas.ElementAtOrDefault(i).vFecha, new { @class = "date form-control input-sm" })
                                                        }
                                                        if (mPregunta.tipoPregunta == "2")
                                                        {
                                                            <input type="radio" id="@("Si" + i)" name="@("Respuestas[" + i + "].vSeleccion")" value="S" checked="@((Model.Respuestas.ElementAtOrDefault(i).vSeleccion == "S") ? true : false)"> 
                                                            <label for="@("Si" + i)"> 
                                                                Si
                                                            </label> 
                                                            <input type="radio" id="@("No" + i)" name="@("Respuestas[" + i + "].vSeleccion")" value="N" checked="@((Model.Respuestas.ElementAtOrDefault(i).vSeleccion == "N") ? true : false)"> 
                                                            <label for="@("No" + i)"> 
                                                                No
                                                            </label> 
                                                            <input type="radio" id="@("A" + i)" name="@("Respuestas[" + i + "].vSeleccion")" value="A" checked="@((Model.Respuestas.ElementAtOrDefault(i).vSeleccion == "A") ? true : false)"> 
                                                            <label for="@("A" + i)"> 
                                                                N/A
                                                            </label> 
                                                            <div>
                                                                @*@Html.RadioButton("Respuestas[" + i + "].vSeleccion", "S", (Model.Respuestas.ElementAtOrDefault(i).vSeleccion == "S") ? true : false, new { id = "Si" + i, @onclick = "showMessage('S', " + mPregunta.prioridad + ");" })*@
                                                                @*//(Model.Respuestas.ElementAtOrDefault(i).vSeleccion ?? "")*@                                                         
                                                                @*@Html.RadioButton("Respuestas[" + i + "].vSeleccion", "N", (Model.Respuestas.ElementAtOrDefault(i).vSeleccion == "N") ? true : false, new { id = "No" + i, @onclick = "showMessage('N', " + mPregunta.prioridad + ");" })*@
                                                                @*//(Model.Respuestas.ElementAtOrDefault(i).vSeleccion ?? "")*@
                                                                @*@Html.RadioButton("Respuestas[" + i + "].vSeleccion", "N/A", (Model.Respuestas.ElementAtOrDefault(i).vSeleccion == "N/A") ? true : false, new { id = "N/A" + i, @onclick = "showMessage('N/A', " + mPregunta.prioridad + ");" })*@ 
                                                                @*//(Model.Respuestas.ElementAtOrDefault(i).vSeleccion ?? "")*@
                                                                @*     <label for="@("Si" + @i)"> 
                                                                    Si 
                                                                </label> 
                                                                <label for="@("No" + @i)"> 
                                                                    No
                                                                </label> 
                                                                <label for="@("N/A" + @i)"> 
                                                                    N/Ada
                                                                </label> *@                                                                    
                                                            </div>
                                                            @*<script type="text/javascript">
                                                                toggleRadio('@Model.Respuestas.ElementAtOrDefault(i).vSeleccion', '@i')
                                                            </script>*@
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }    
                                }        
                                </table>
				
							</div>
							<!-- end widget content -->
				
						</div>
						<!-- end widget div -->
				
					</div>
					<!-- end widget -->		

                    </article>									
				
                </div>
				
			<!-- end row -->
				
			<!-- end row -->
				
		</section>
		<!-- end widget grid -->
                                    </div>
            </div>
        </div>
    </div>
                            
        </article>
</div>
<div style="padding-bottom:15px">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-sm" })
    <input type="submit" value="Create" class="btn btn-info btn-sm" />        
</div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}